<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.meonggae.product">

<select id="selectProductByUser" resultType="productDomain" parameterType="int">
select g.goods_num, g.mem_num_sell, g.mem_num_buy, g.category_num,
g.name, g.detail, g.price, g.cnt, g.trade_method_code, g.location, g.quality_code, g.sell_status_code
from GOODS g, member_detail md
where md.mem_num = g.mem_num_sell and md.mem_num = #{memNum, jdbcType=INTEGER}
</select>
<!-- <insert id="inserctProduct"></insert>
<update id="updateProudct"></update>-->
</mapper>