<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.meonggae.store">

<!-- 내상점 메인 판매상품 리스트 -->
 <select id="storeSalesList" resultType="storeMainDomain" parameterType="String">
	select	goodsNum, NAME, PRICE, inputDate, img, rnum
	from	(select  g.GOODS_NUM goodsNum, g.NAME, g.PRICE, g.INPUT_DATE inputDate, gi.NAME img, row_number() over(order by g.GOODS_NUM) rnum
			from		GOODS g, GOODS_IMG gi, member m
			where   g.MEM_NUM_SELL=m.MEM_NUM
							and g.GOODS_NUM=gi.GOODS_NUM
							and m.NICK='${nick}'
							and g.mem_num_buy is null
			order by g.GOODS_NUM desc)
	where	rnum between 1 and 10
</select> 

</mapper>